<!--  ARTWORK FORM -->
<!-- 		<form name="artworkForm" ng-controller="ArtworkController as artworkCtrl" ng-submit="artworkCtrl.addArtwork()">
  <tr class="row">
    <h4>Submit an Artwork</h4>
    <div>artworkForm is {{artworkForm.$valid}}</div>
    <td>
      <fieldset class="form-group">
        <input ng-model="artworkCtrl.artist" class="form-control" placeholder="Artist Name" title="Artist" />
        <input ng-model="artworkCtrl.title" class="form-control" placeholder="Title" title="Title" />
        <input ng-model="artworkCtrl.year" class="form-control" placeholder="Year" title="Year" />
      </fieldset>
    </td>
    <td>
      <fieldset class="form-group">
        <input ng-model="artworkCtrl.medium" class="form-control" placeholder="medium" title="Medium" />
        <input ng-model="artworkCtrl.materials" class="form-control" placeholder="materials" title="Materials" />
      </fieldset>
    </td>
    <td>
      <fieldset class="form-group">
        <input ng-model="artworkCtrl.dimension1" type="number" class="form-control" placeholder="dimensions" title="Dimensions" />
        <input ng-model="artworkCtrl.dimension2" type="number" class="form-control" placeholder="dimensions" title="Dimensions" />
        <input ng-model="artworkCtrl.dimension3" type="number" class="form-control" placeholder="dimensions" title="Dimensions" />
      </fieldset>
    </td>
    <td>
      <fieldset class="form-group">
        <input ng-model="artworkCtrl.price" type="number" class="form-control" placeholder="price" title="Price" min=1 max=10 />
      </fieldset>
    </td>
    <td>
      <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Submit Artwork" />
      </fieldset>
    </td>
  </tr>
</form>--><!-- /ARTWORK FORM -->

  <!--  Live Preview -->
<!-- 	<tr class="row">
    <td>
      <strong>{{artworkCtrl.artist}}</strong>
    </td>
    <td>
      <cite class="clearfix">—{{artworkCtrl.review.author}}</cite>
    </td>
    <td>
      {{artworkCtrl.review.body}}
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>-->
